.alert {
    border-radius: 3px;
    // background: $cachet_yellow;
    border: solid 1px $cachet_dark-yellow;

    &.alert-success {
        // background-color: $cachet_green;
        border: solid 1px $cachet_dark-green;
        // color: white;
    }

    &.alert-info {
        // background: $cachet_blue;
        border: solid 1px $cachet_dark-blue;
        // color: #FFF;
    }

    &.alert-danger {
        // background: $cachet_red;
        border: solid 1px $cachet_dark-red;
        // color: #FFF;
    }
}
